body {
  background-color: rgb(200, 246, 246);
}
.menu {
  width: 100%;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}
nav ul li {
  border: 2px solid black;
  border-radius: 15px;
  list-style-type: none;
  display: inline-block;
  padding: 30px;
}
nav ul li a {
  color: black;
  text-decoration: solid;
  font-weight: bold;
}
nav ul li a:hover {
  color: rgb(0, 8, 255);
  transition: 0.8ms;
  background-color: rgb(219, 210, 50);
}
#img1 {
  display: block;
  padding: 10px;
  width: 100%;
  height: 50vh;
}
#para1 {
  text-align: center;
  font-size: xx-large;
}
.divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.div1 {
  text-align: center;
  background-color: #edc479;
  border: 2px solid black;
  width: 300px;
  height: 420px;
}
.div2 {
  text-align: center;
  background-color: #9aed89;
  border: 2px solid black;
  width: 300px;
  height: 420px;
}
.div3 {
  text-align: center;
  background-color: #f298a7;
  border: 2px solid black;
  width: 300px;
  height: 420px;
}
#p-Mountaineering {
  font-size: xx-large;
}
#a-Mountaineering {
  border: 1px dashed brown;
}
#a-Diving {
  border: 1px dashed brown;
}

#p-Diving {
  font-size: xx-large;
}
#a-Jungle {
  border: 1px dashed brown;
}
#p-Jungle {
  font-size: xx-large;
}
#foot {
  text-align: center;
}
.images-jungle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#Jungle-image1 {
  width: 200px;
  height: 300px;
}
#Jungle-image2 {
  width: 200px;
  height: 300px;
}
#Jungle-image3 {
  width: 200px;
  height: 300px;
}
#Jungle-image4 {
  width: 200px;
  height: 300px;
}
#Jungle-image5 {
  width: 200px;
  height: 300px;
}
.de-ju {
  width: 100vw;
  margin-top: 30px;
  padding: 20px;
  border: 3px dashed saddlebrown;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#dt-ju {
  font-size: 2em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
#dd-ju {
  font-size: 1.5em;
  margin-bottom: 20px;
  display: initial;
  text-align: left;
}
.sec-ju {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span {
  color: red;
  font-size: larger;
  font-weight: bold;
}
.div-moun {
  display: flex;
  justify-content: space-between;
}
#mountain-img1 {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}
#mountain-img2 {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}
#mountain-img3 {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}
#mountain-img4 {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}
.de-moun {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  border: 2px dashed palevioletred;
  width: 100vw;
}

.table {
  border: 3px dashed black;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  height: 70vh;
  background-color: antiquewhite;
  text-align: center;
}
.img-diving {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: stretch;
}
#Diving1 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving2 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving3 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving4 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving5 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving6 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving7 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving8 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving9 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
#Diving10 {
  width: 300px;
  height: 400px;
  border-radius: 70px;
}
